.parent-cont{
    width: 1200px;
    height: 750px;
    background-color: #f8f8f8;
    border-radius: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.233);
}



/* styling for smaller screens*/
@media (max-width: 768px) {
    .parent-cont {
        width: 100%;
        height: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}