.toggleBtn{
    width:200px;
    height: 50px;
    background-color: #0D585F;
    border: 1px solid #fff;
    font-size:16px;
    cursor: pointer;
    color: #fff;
    font-family: 'poppins';
    font-weight: 500;

}

.toggleBtn:hover{
    background-color: #fff;
    color:  #0D585F;
    box-shadow: 0px 0px 20px 4px #ffffff25;
    border: none;
}